/* Reset Styles CSS */
html, body {
	margin: 0;
	padding: 0;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}
/* END reset */


html {
	background-color: #F4F4F4;
}

/* CONTAINER rules */
.container {
	padding: 0px 10%;
	text-align: center;
}
/*END container */


/* INTRO rules */
/* END intro */



/* SECTION-ONE rules */
.section-one {
	display: inline-block;
}

.section-one p {
	padding-bottom: 10px;
}

.section-one img {
	display: block;
	float: left;
	width: 50%;
	height: 50%;
}

.section-one .align {
	float: right;
	width: 50%;
	/*box-sizing: border-box;*/
}

.section-one .align ul li {
	padding: 0px 0 20px 10px;
}
/* END section-one */



/* EMBRACE rules */
.embrace {
	display: inline-block;
}

.embrace h1 {
	text-align: center;
}

.embrace h2 {
	text-align: center;
}

.embrace h2#simple {
	padding: 30px 0 10px 0;
}
/* END embrace */




/* GIVE rules */
.give {
	display: inline-block;
}

.give h1, h2 {
	text-align: center;
}
/* END give */




/* TOOLS rules */
.tools {
	display: inline-block;
	width: 100%;
}

.tools h1, h2, p {
	text-align: center;
}

.tools ul {
	text-align: left;
	padding-left: 20%;
}

.tools ul li {
	list-style: none;
	/*padding: 0px 20%;*/
}

.tools ul li img {
	padding-right: 20px;
}
/* END tools */




/* POPULAR rules */
.popular {
	display: inline-block;
}

.popular h1 {
	text-align: center;
}

.popular .piggy {
	display: inline-block;
	padding: 30px 0;
}

.popular .calendar {
	display: inline-block;
	padding: 30px 0;
}

.popular p {
	text-align: justify;
	padding-right: 20%;
}

.popular img {
	padding-left: 20%;
	padding-right: 5%;
}
/* END popular */




/* WORKSPACE */
.cases .content {
	display: inline-block;
	text-align: center;
}

.content {
	margin: 0 auto;
	min-width: 37.5rem;
}

.cases .content ul.devices {
	list-style: none;
}

.cases .content .devices > li {
	width: 30%;
	float: left;
}
/* END workspace */




/* MISC. rules */
.intro, .embrace, .give, .tools, .popular {
	padding: 20px 0 20px 0;
}

.section-one, .embrace, .give, .tools, .popular, .content p {
	text-align: justify;
}
/* END rules */



/* Responsive Design */
@media only screen and (max-width: 1100px) {
	.tools .target p img {
		width: 100%;
		height: auto;
	}
	.embrace .target p img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 1075px) {
	.section-one img {
		width: 419px;
		height: 286px;
	}
}

@media only screen and (min-width: 1770px) {
	.section-one img {
		padding-left: 20%;
	}
}

@media only screen and (min-width: 1075px) {
	.section-one .align > ul {

	}
}


.align {
	box-sizing: border-box;
	padding: 0px 120px 20px 20px;
}

.surround {
	display: inline-block;
}



/* DEBUG testing */

.trial {
    text-align: justify;
}

.trial img {
    display: inline-block;
    width: 249px;
    height: 193px;
}

.trial img.one {
	padding-left: 18%;
}

.trial img.two {
	padding-right: 18%;
}

.trial:after {
    content: '';
    display: inline-block;
    width: 100%;
}


@media only screen and (min-width: 1650) and (max-width: 1850px) {
	.trial img.one {
		padding-left: 15%;
	}

	.trial img.two {
		padding-right: 15%;
	}
}

@media only screen and (min-width: 1461px) and (max-width: 1649px) {
	.trial img.one {
		padding-left: 13%;
	}

	.trial img.two {
		padding-right: 13%;
	}
}


@media only screen and (max-width: 1460px) {
	.trial img.one {
		padding-left: 12%;
	}

	.trial img.two {
		padding-right: 12%;
	}
	.trial img {
		width: 220px;
		height: 171px;
	}
}


@media only screen and (max-width: 1249px) {
	.trial img {
	    display: inline-block;
	    width: 200px;
	    height: 155px;
	}
	.trial:after {
    	content: '';
    	display: inline-block;
    	width: 100%;
	}
}

@media only screen and (max-width: 1199px) {
	.trial img {
	    display: inline-block;
	    width: 180px;
	    height: 140px;
	}
	.trial:after {
    	content: '';
    	display: inline-block;
    	width: 100%;
	}
	.trial img.one {
		padding-left: 10%;
	}

	.trial img.two {
		padding-right: 10%;
	}
}

@media only screen and (max-width: 1075px) {
	.trial img {
	    display: inline-block;
	    width: 149px;
	    height: 115px;
	}
	.trial:after {
    	content: '';
    	display: inline-block;
    	width: 100%;
	}
	.trial img.one {
		padding-left: 8%;
	}

	.trial img.two {
		padding-right: 8%;
	}
}

@media only screen and (max-width: 910px) {
	.trial img {
	    display: inline-block;
	    width: 149px;
	    height: 115px;
	}
	.trial:after {
    	content: '';
    	display: inline-block;
    	width: 100%;
	}
	.trial img.one {
		padding-left: 5%;
	}

	.trial img.two {
		padding-right: 5%;
	}
}

@media only screen and (max-width: 785px) {
	.trial:after {
    	content: '';
    	display: inline-block;
    	width: 100%;
	}
	.trial img.one {
		padding-left: 0;
	}

	.trial img.two {
		padding-right: 0;
	}
}

/*END debug */